SensatoApplication/SensatoClient/Service References/SensatoServiceReference/SensatoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SensatoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" />
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SensatoDBService.DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" />
      <xsd:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/SensatoWebService.Models.Enumerations" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISensatoService_CheckUserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExists" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_CheckUserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_CheckUserExists_UsernameValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" name="detail" element="q1:UsernameValidationFault" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_CheckPassowrdMatch_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckPassowrdMatch" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_CheckPassowrdMatch_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckPassowrdMatchResponse" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_CheckPassowrdMatch_PasswordValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" name="detail" element="q2:PasswordValidationFault" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_GetUserDataByUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataByUsername" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_GetUserDataByUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDataByUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_AddHive_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHive" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_AddHive_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHiveResponse" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_AddHive_AlreadyExistFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" name="detail" element="q3:AlreadyExistFault" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_RenameHive_InputMessage">
    <wsdl:part name="parameters" element="tns:RenameHive" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_RenameHive_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenameHiveResponse" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_RenameHive_AlreadyExistFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" name="detail" element="q4:AlreadyExistFault" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_RemoveHive_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHive" />
  </wsdl:message>
  <wsdl:message name="ISensatoService_RemoveHive_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveHiveResponse" />
  </wsdl:message>
  <wsdl:portType name="ISensatoService">
    <wsdl:operation name="CheckUserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/CheckUserExists" message="tns:ISensatoService_CheckUserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/CheckUserExistsResponse" message="tns:ISensatoService_CheckUserExists_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISensatoService/CheckUserExistsUsernameValidationFaultFault" name="UsernameValidationFaultFault" message="tns:ISensatoService_CheckUserExists_UsernameValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckPassowrdMatch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/CheckPassowrdMatch" message="tns:ISensatoService_CheckPassowrdMatch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/CheckPassowrdMatchResponse" message="tns:ISensatoService_CheckPassowrdMatch_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISensatoService/CheckPassowrdMatchPasswordValidationFaultFault" name="PasswordValidationFaultFault" message="tns:ISensatoService_CheckPassowrdMatch_PasswordValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/GetUserDataByUsername" message="tns:ISensatoService_GetUserDataByUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/GetUserDataByUsernameResponse" message="tns:ISensatoService_GetUserDataByUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/AddHive" message="tns:ISensatoService_AddHive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/AddHiveResponse" message="tns:ISensatoService_AddHive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISensatoService/AddHiveAlreadyExistFaultFault" name="AlreadyExistFaultFault" message="tns:ISensatoService_AddHive_AlreadyExistFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenameHive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/RenameHive" message="tns:ISensatoService_RenameHive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/RenameHiveResponse" message="tns:ISensatoService_RenameHive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/ISensatoService/RenameHiveAlreadyExistFaultFault" name="AlreadyExistFaultFault" message="tns:ISensatoService_RenameHive_AlreadyExistFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveHive">
      <wsdl:input wsaw:Action="http://tempuri.org/ISensatoService/RemoveHive" message="tns:ISensatoService_RemoveHive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISensatoService/RemoveHiveResponse" message="tns:ISensatoService_RemoveHive_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISensatoService" type="tns:ISensatoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUserExists">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/CheckUserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UsernameValidationFaultFault">
        <soap:fault use="literal" name="UsernameValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckPassowrdMatch">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/CheckPassowrdMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PasswordValidationFaultFault">
        <soap:fault use="literal" name="PasswordValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDataByUsername">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/GetUserDataByUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHive">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/AddHive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AlreadyExistFaultFault">
        <soap:fault use="literal" name="AlreadyExistFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RenameHive">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/RenameHive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AlreadyExistFaultFault">
        <soap:fault use="literal" name="AlreadyExistFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveHive">
      <soap:operation soapAction="http://tempuri.org/ISensatoService/RemoveHive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SensatoService">
    <wsdl:port name="BasicHttpBinding_ISensatoService" binding="tns:BasicHttpBinding_ISensatoService">
      <soap:address location="http://localhost:50589/SensatoService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>