SensatoApplication/SensatoClient/Service References/SensatoServiceReference/SensatoService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensatoDBService.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UsernameValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsernameValidationFault" nillable="true" type="tns:UsernameValidationFault" />
  <xs:complexType name="PasswordValidationFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordValidationFault" nillable="true" type="tns:PasswordValidationFault" />
</xs:schema>