SensatoApplication/SensatoClient/Service References/SensatoServiceReference/SensatoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensatoDBService.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensatoDBService.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" />
  <xs:complexType name="ArrayOfHiveDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HiveDTO" nillable="true" type="tns:HiveDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHiveDTO" nillable="true" type="tns:ArrayOfHiveDTO" />
  <xs:complexType name="HiveDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Frames" nillable="true" type="tns:ArrayOfFrameDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" minOccurs="0" name="User" nillable="true" type="q1:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HiveDTO" nillable="true" type="tns:HiveDTO" />
  <xs:complexType name="ArrayOfFrameDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FrameDTO" nillable="true" type="tns:FrameDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFrameDTO" nillable="true" type="tns:ArrayOfFrameDTO" />
  <xs:complexType name="FrameDTO">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" minOccurs="0" name="Hive" nillable="true" type="q2:Hive" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Measurments" nillable="true" type="tns:ArrayOfMeasurmentDTO" />
      <xs:element minOccurs="0" name="Position" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrameDTO" nillable="true" type="tns:FrameDTO" />
  <xs:complexType name="ArrayOfMeasurmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MeasurmentDTO" nillable="true" type="tns:MeasurmentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeasurmentDTO" nillable="true" type="tns:ArrayOfMeasurmentDTO" />
  <xs:complexType name="MeasurmentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeOfMeasurment" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstSensorTemp" type="xs:float" />
      <xs:element minOccurs="0" name="Frame" nillable="true" type="tns:FrameDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecondSensorTemp" type="xs:float" />
      <xs:element minOccurs="0" name="ThirdSensorTemp" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MeasurmentDTO" nillable="true" type="tns:MeasurmentDTO" />
</xs:schema>