SensatoApplication/SensatoClient/Service References/SensatoServiceReference/SensatoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SensatoDBService.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SensatoDBService.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50589/SensatoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" />
  <xs:complexType name="ArrayOfHiveDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HiveDTO" nillable="true" type="tns:HiveDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHiveDTO" nillable="true" type="tns:ArrayOfHiveDTO" />
  <xs:complexType name="HiveDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" minOccurs="0" name="Frames" nillable="true" type="q1:ArrayOfFrame" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsRemoved" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SensatoWebService.Models" minOccurs="0" name="User" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HiveDTO" nillable="true" type="tns:HiveDTO" />
</xs:schema>